section{
	margin-bottom: 40px;	
}

h3.blog{
	margin-bottom: 40px;
	.blog-link{
		@include regular;
		color: $link;
	}
	.rss{
		font-size: 16px;
	}
}

.inverted{
	color: $darker-text;
	a{
		&:link{
			color: $medium-purple;
		}
		&:visited{
			color: $dark-purple;
		}
		&:hover{
			color: $pink;
		}
	}	
}
.post, .comments{
	background: white;
	@include border-radius(10px);
	@include regular;
	padding: 0;
}
.post-top, .post-nav{
	@include cf;
	@include border-radius(5px 5px 0 0);
	background: $light-grey;
	padding: 5px 15px;
	font-size: 14px;
	.meta-date{
		display: block;
		float: left;
		height: 28px;
		line-height: 28px;
		margin-top: 2px;
	}
	.meta-twitter{
		display: block;
		float: right;
		iframe{
			position: relative;
			top:5px;
		}
	}
}
.post-nav{
	@include border-radius(0 0 5px 5px);
	.prev{
		float: left;
	}
	.next{
		float: right;
	}
}
.post-content{
	@include small{
		padding: 20px;
		font-size: 15px;
	}
	@include medium{
		padding: 40px 80px;
		font-size: 18px;
	}
	p, pre, ul, ol{
		margin: 0 0 $spacing 0;
	}
	h3, h4, h5{
		margin-bottom: $spacing;
		line-height: 1.4;
	}
	font-weight: 400;
	.post-title{
		text-shadow:none;
		@include small{
			font-size: 30px;
		}
		@include medium{
			font-size: 46px;
		}
		text-align: left;
		margin-bottom: 20px;
		@include light;
		line-height: 1.3;
	}
	h3{
		text-shadow:none;
		color: $dark-text;
		@include bold;
		text-align: left;
		@include small{
			font-size: 22px;
		}
		@include medium{
			font-size: 30px;
		}
	}
	img{
		@include small{
			width: 95%;
			border: 5px solid $light-grey;
		}
		@include medium{
			width: 85%;
			border: 10px solid $light-grey;
		}
		margin: 0 auto;
		display: block;
	}
	figure{
		margin: 0 0 $halfspacing 0;
	}
	figcaption{
		margin-top: 10px;
		font-size: 16px;
		font-style: italic;
		text-align: center;
	}
	pre{
		border: 1px $medium-grey solid;
		border-radius: 5px;
		padding: 20px;
		font-size: 14px;
		background: #fafafa;
		overflow-x: auto;
	}
}
.articles{
	.post{
		margin-bottom: 40px;
	}
	.post-title{
		font-size: 30px;
		margin-bottom: 10px;
		a{
			@include light;
		}
	}
}
.comments{
	padding: 40px;	
}