// section{
// 	margin-bottom: 40px;	
// }

h3.blog{
	margin-bottom: 40px;
	.blog-link{
		@include regular;
		color: $link;
	}
}
.post-footer, .post-nav{
	@include cf;
	border-top: 1px solid $light-grey;
	margin-bottom: $spacing;
	padding: 5px 0;
	@include small{
		font-size: 14px;
	}
	@include medium{
		font-size: 14px;
	}
	.meta-date{
		display: block;
		height: 28px;
		line-height: 28px;
		margin-top: 2px;
		float: left;
	}
	.meta-share{
		display: block;
		float: right;
		.twitter{
			position: relative;
			top:4px;
		}
	}
	.prev{
		float: left;
	}
	.next{
		float: right;
	}
}
.post-thumbnail{
	margin: 0;
	position: relative;
	img{
		display: block;
		width: 100%;
	}
	.gradient{
		display: block;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		z-index: 100;
		background: linear-gradient(to bottom, rgba(66,58,112,0.1) 0%, rgba(57,51,97,0.7) 100%);
	}
}
.post-nav{
	@include border-radius(0 0 5px 5px);
	border-top: 1px $light-grey solid;
	border-bottom: none;	
}
.post-content{
  margin-bottom: $spacing;
	 >p{
    &:first-of-type{
      font-size: 130%;
    }
  }
}
.articles{
	.post{
		padding-bottom: $spacing;
		border-bottom: 1px solid $light-grey;
		margin-bottom: $spacing;
		&:last-child{
			border: none;
			padding: 0;
		}
	}
	.post-summary{
		p:last-child{
			margin-bottom: 0;
		}
	}
	.post-title{
		font-size: 36px;
		margin: 0 0 10px 0;
		border-bottom: none;
	}
	.post-title{
		a{
			font-weight: $light;
		}
	}
}
.comments{
	padding: $spacing 0;	
}
.note{
	background:$light-yellow;
	@include background(linear-gradient( 125deg, rgba(253,228,0,0.2) 0%, rgba(253,228,0,0.1) 90%));
	padding:30px;
	margin-bottom:30px;
	line-height:1.6;
	p{
		margin-bottom:20px;
	}
	h3{
		margin:0 0 10px 0;
		border:0;
		font-size:24px;
		font-weight: bold();
	}
	&.chapter{
		background:$light-bg;
		@include background(linear-gradient( 125deg, rgba(226,224,233,1) 0%, rgba(226,224,233,0.5) 90%));;
	}
	*:last-child{
		margin-bottom:0;
	}
}