section{
	margin-bottom: 40px;	
}
#blog{
	h3{
		margin-bottom: 40px;
		a{
			font-size: 16px;
		}
	}
}
.inverted{
	color: $darker-text;
	a{
		&:link{
			color: $medium-purple;
		}
		&:visited{
			color: $dark-purple;
		}
		&:hover{
			color: $pink;
		}
	}	
}
.post, .comments{
	background: white;
	@include border-radius(10px);
	@include regular;
}
.post-top, .post-nav{
	@include cf;
	@include border-radius(5px 5px 0 0);
	background: $light-grey;
	padding: 5px 15px;
	font-size: 14px;
	.back{
		display: block;
		float: left;
		height: 28px;
		line-height: 28px;
		margin-top: 2px;
	}
	.meta{
		display: block;
		float: right;
		>div{
			display: inline-block;
			margin-left: 20px;
		}
	}
	.twitter{
		iframe{
			position: relative;
			top:5px;
		}
	}
}
.post-nav{
	@include border-radius(0 0 5px 5px);
	.prev{
		float: left;
	}
	.next{
		float: right;
	}
}
.post-content{
	font-size: 18px;
	padding: 40px;
	font-weight: 400;
	.post-title{
		text-shadow:none;
		font-size: 46px;
		text-align: left;
		margin-bottom: 20px;
		@include light;
		line-height: 1.3;
	}
	h3{
		text-shadow:none;
		color: $dark-text;
		@include bold;
		text-align: left;
		font-size: 30px;
	}
	img{
		border: 10px solid $light-grey;
		width: 85%;
		margin: 0 auto;
		display: block;
	}
	figcaption{
		margin-top: 10px;
		font-size: 16px;
		font-style: italic;
		text-align: center;
	}
}
.articles{
	.post{
		margin-bottom: 40px;
	}
	.post-title{
		font-size: 30px;
		margin-bottom: 10px;
		a{
			@include light;
		}
	}
}
.comments{
	padding: 40px;	
}