.brick-by-brick-section{
  background: $lighter-grey;
  padding: $spacing*2 0;
}

.brick-by-brick{
  border-bottom: 2px solid $dark-beige;
  @include cf;
  .section-heading{
    margin-bottom: $spacing;
  }
  .image{
    @include medium{
      @include span-columns(7);
    }
    img{
      display: block;
      width: 120%;
    }
  }
  .description{
    @include medium{
      @include span-columns(5 omega);
    }
    text-align: left;
    a{

    }
  }
  .actions{
  }
  .button-simple{
    border: 2px solid $dark-beige;
    background: $beige;
    color: $dark-beige;
  }
}