.brick-by-brick-section{
  background: $lighter-grey;
  padding: $spacing*2 0;
}

.brick-by-brick{
  @include medium{
    border-bottom: 2px solid $dark-beige;
  }
  @include cf;
  .section-heading{
    margin-bottom: $spacing;
  }
  .image{
    @include small{
      border-bottom: 2px solid $dark-beige;
      margin-bottom: $spacing/2;
    }
    @include medium{
      @include span(7);
    }
    img{
      display: block;
      @include small{
        width: 100%;
      }
      @include medium{
        width: 120%;
      }
    }
  }
  .description{
    @include medium{
      @include span(last 5);
    }
    text-align: left;
    a{

    }
  }
  .actions{
    @include small{
      text-align: center;
    }
  }
  .button-simple{
    border: 2px solid $dark-beige;
    background: $beige;
    color: $dark-beige;
  }
}