
$light-grey: #ebeaed;
$medium-grey: #dad9dc;

$dark-text:#5d4a6a;
$darker-text:#4b454f;
$pink:rgba(217, 153, 255, 0.6);

$link:$pink;

$medium-purple: #6a43ba;
$dark-purple: #3C2F90;

$light-bg:#e2e1e4;

$yellow2:#fde400;
$light-yellow:#fcf9e2;