$white: white;

$beige: #FAF7EE;
$dark-beige: #615F59;

$lightest-grey: #faf9fa;
$lighter-grey: #ebeaed;
$light-grey: #CDCAD0;
$medium-grey: #89848E;
$dark-grey: #5F5764;
$darker-grey: #4b454f;

$medium-text:$medium-grey;
$dark-text:$dark-grey;
$darker-text:$darker-grey;
$pink:rgba(217, 153, 255, 0.6);

$link:$pink;

$light-purple: #8D6BB4;
$medium-purple: #6F2EB9;
$dark-purple: #3C2F90;

$light-bg:#e2e1e4;

$yellow2:#fde400;
$light-yellow:#fcf9e2;


$browser-color: #88838F;

$dark-purple: #1B0732;
