.docs-archive{
  .section-title{
    margin-bottom: $halfspacing;
  }
  .docs-section{
    margin-bottom: $spacing;
  }
}

.docs-section{
  margin-bottom: 40px;
  &:last-child{
    border: none;
    padding: 0;
    margin: 0;
  }
}

.section-description{
  font-size: 20px;
}

.docs-toc{
  margin: 0;
  padding: 0;
  // @include cf;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  li{
    width: 45%;
    margin-right: 10%;
    // @include medium{
    //   @include span-columns(6);
    //   @include nth-omega(2n, of-type);
    // }
    &:nth-child(2n){
      margin-right: 0;
    }
  }
}

.docs-list-blurb{
  font-size: 16px;
}

.docs{
  background: $light-grey;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 20px 0 20px;
  @include medium{
    padding: 40px;
    float:right;
    margin: 40px -40px 40px 40px;
  }

  .section-title{
    color: $dark-text;
    @include regular();
  }
  h4{
    text-shadow: none;
    text-align: left;
    margin-bottom: 10px;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li{
    margin-bottom: 10px;
    &:last-child{
      margin: 0;
    }
    &.active{
      position: relative;
      &:before{
        content: "➜";
        color: rgba($medium-purple, 0.3);
        position: absolute;
        left: -20px;
      }
    }
  }
  a{
    &, &:visited, &:active{
      color: $medium-purple;
    }
  }
}

.post-content{
  @include cf;
  .docs-video{
    @include medium{
      margin: 0 -80px 30px -80px;
      padding: 30px;
      background: #333;
    }
    h4{
      @include light;
      color: white;
    }
    p{
      color: white;
      margin: 30px 0 0 0;
    }
  }
}