.docs-archive{
  .section-title{
    margin-bottom: $halfspacing;
  }
  .docs-section{
    margin-bottom: $spacing;
  }
}

.docs{
  background: $light-grey;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 20px 0 20px;
  @include medium{
    padding: 40px;
    float:right;
    margin: 40px -40px 40px 40px;
  }
  .docs-section{
    border-bottom: 1px solid $medium-grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:last-child{
      border: none;
      padding: 0;
      margin: 0;
    }
  }
  .section-title{
    color: $dark-text;
    @include regular();
  }
  h4{
    text-shadow: none;
    text-align: left;
    margin-bottom: 10px;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li{
    margin-bottom: 10px;
    &:last-child{
      margin: 0;
    }
    &.active{
      position: relative;
      &:before{
        content: "➜";
        color: rgba($medium-purple, 0.3);
        position: absolute;
        left: -20px;
      }
    }
  }
  a{
    &, &:visited, &:active{
      color: $medium-purple;
    }
  }
}

.post-content{
  @include cf;
  .docs-video{
    @include medium{
      margin: 0 -80px 30px -80px;
      padding: 30px;
      background: #333;
    }
    h4{
      @include light;
      color: white;
    }
    p{
      color: white;
      margin: 30px 0 0 0;
    }
  }
}