.examples{
	// background: $light-grey;
	padding: $spacing*2 0;
	.example{
		@include small{
			margin-bottom: $spacing*2;
		}
		@include medium{
			@include span(3);
			&:nth-of-type(4n){
				@include omega;
			}
		}
	}
}
.themes{
	@include cf;
	margin-bottom: $spacing*2;
	.theme{
		@include small{
			margin-bottom: $spacing*2;
		}
		@include medium{
			@include span(3);
			&:nth-of-type(4n){
				@include omega;
			}
		}
	}
}

.site-screenshot{
		a, img{
			display: block;
			width: 100%;
		}
		a{
			border: 3px solid $lighter-grey;
			position: relative;
			top: 0px;
			display: block;
			@include medium{
				height: 135px;
			}
			overflow: hidden;
			background: white;
		}
		img{
		}
		margin-bottom: 10px;
	}
	.site-content{
		text-align: left;
	}
	.site-title{
		text-align: left;
		a{
			@include light;
		}
	}
	.site-description{
		p{
			margin-bottom: 10px;
		}
	}
	.site-actions{
		a{
			font-size: 13px;
		}
	}