.examples{
	// background: $light-grey;
	padding: $spacing*2 0;
	.site{
		@include medium{
			@include span-columns(3);
			@include nth-omega(4, of-type);
		}
	}
	.screenshot{
		a, img{
			display: block;
			width: 100%;
		}
		a{
			position: relative;
			top: 0px;
			display: block;
			@include medium{
				height: 135px;
			}
			overflow: hidden;
			background: white;
			@include border-radius(3px);
			border: 1px solid white;
		}
		img{
		}
		margin-bottom: 10px;
	}
	.description{
		text-align: left;
	}
	.title{
		text-align: left;
		font-size: 24px;
		a{
			@include light;
		}
	}
	p{
		margin-bottom: 0;
	}
}