.examples{
	// background: $light-grey;
	padding: $spacing*2 0;
	.example{
		@include small{
			margin-bottom: $spacing*2;
		}
		@include medium{
			@include span-columns(3);
			@include nth-omega(4, of-type);
		}
	}
	.example-screenshot{
		a, img{
			display: block;
			width: 100%;
		}
		a{
			position: relative;
			top: 0px;
			display: block;
			@include medium{
				height: 135px;
			}
			overflow: hidden;
			background: white;
			@include border-radius(3px);
			border: 1px solid white;
		}
		img{
		}
		margin-bottom: 10px;
	}
	.example-content{
		text-align: left;
	}
	.example-title{
		text-align: left;
		a{
			@include light;
		}
	}
	.example-description{
		p{
			margin-bottom: 10px;
		}
	}
	.example-actions{
		a{
			font-size: 13px;
		}
	}
}