.faq-section{
	margin-bottom: 60px;
}
.questions{
	@include medium{
		@include pad(3,3);
	}
}
.question{
	margin-bottom: 40px;
	font-size: 18px;
	.question-heading{
		margin-bottom: 5px;
	}
	.question-answer{

	}
}