.features{
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include cf;
	}
	.feature{
		@include medium{
			@include span-columns(4);
			@include nth-omega(3n, of-type);
		}
		margin-bottom:$unit2;
		text-align:center;
		h4{
			font-size: 18px;
			color: white;
		}
		p{
			padding: 0 10px;
		}
	}
}