@include border-box-sizing;

// at 47.5em (16*47.5=760px) switch to a 12-column layout
$small-break: 760px;
$medium-break: 900px;

@mixin small(){
  @media screen and (max-width: $small-break) {
    @content;
  }
}
@mixin medium(){
  @media screen and (min-width: $small-break) {
    @content;
  }
}
@mixin large(){
  @media screen and (min-width: $medium-break) {
    @content;
  }
}

$spacing: 40px;
$threequarterspacing: 30px;
$halfspacing: $spacing/2;
$quarterspacing: $spacing/4;
$doublespacing: $spacing*2;
$triplespacing: $spacing*3;

$total-columns  : 12;
$column-width   : 40px;
$gutter-width   : $spacing*1.5;
$grid-padding   : 0px;

$unit:$spacing;
$unit2:$unit/2;

$susy: (
  // the basics
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
);

// mobile

.container{
	@include container;
	@include small{
		padding:0 15px;
	}
	@include medium{
		padding:0 20px;
	}
}

.container-medium{
  @include medium{
    max-width: 70%;
    margin: 0 auto;
  }
}

.row{
	@include container;
}