.section-heading{
  text-align: center;
  font-size: 36px;
  font-weight: $light;
  margin-bottom: $spacing*2;
  color: $darker-text;
}
.section-subheading{
  text-align: center;
  font-size: 18px;
  font-weight: $regular;
  margin-top: -$spacing*2+5;
  margin-bottom: $spacing*2;
  color: $dark-text;
}


h1, h2, h3, h4, h5{
  margin:0;
  line-height: 1.2;
}

h2{
  @include small{
    font-size: 24px;
  }
  @include medium{
    font-size: 36px;
  }
}
h3{
  @include small{
    font-size: 24px;
  }
  @include medium{
    font-size: 30px;
  }
}
h4{
  @include small{
    font-size: 18px;
  }
  @include medium{
    font-size: 24px;
  }
}
h5{
  @include small{
    font-size: 16px;
  }
  @include medium{
    font-size: 18px;
  }
}
.post-content{
  h1, h2, h3, h4, h5{
    color: $darker-text;
  }
  h2{

  }
  h3{
    font-weight: $bold;
    // position: relative;
    // &:after{
    //   content: " ";
    //   width: 3000px;
    //   height: 3000px;
    //   z-index: -1;
    //   display: block;
    //   position: absolute;
    //   top: 0px;
    //   left: -1000px;
    // }
    // &:nth-of-type(1n):after{
    //   transform: rotate(2deg);
    //   background: lighten($lighter-grey,4%);
    // }
    // &:nth-of-type(2n):after{
    //   transform: rotate(-3deg);
    //   background: lighten($lighter-grey,2%);
    // }
    // &:nth-of-type(3n):after{
    //   transform: rotate(2deg);
    //   background: lighten($lighter-grey,0%);
    // }
    // &:nth-of-type(4n):after{
    //   transform: rotate(3deg);
    //   background: lighten($lighter-grey,3%);
    // }
    // &:nth-of-type(5n):after{
    //   transform: rotate(-4deg);
    //   background: lighten($lighter-grey,1%);
    // }
    // &:nth-of-type(6n):after{
    //   transform: rotate(3deg);
    //   background: lighten($lighter-grey,4%);
    // }
    // &:nth-of-type(7n):after{
    //   transform: rotate(-2deg);
    //   background: lighten($lighter-grey,1%);
    // }
  }
  h4{
    font-weight: $light;
  }
  h5{

  }
}

.page-title{
  text-align: center;
  @include small{
    margin: $halfspacing 0;
  }
  @include medium{
    margin: $spacing $spacing $doublespacing $spacing; 
  }
  .pre-title{
    @include small{
      font-size: 14px;
    }
    @include medium{
      font-size: 18px;
    }
    border-bottom: 1px solid white(0.2);
    padding-bottom: 5px;
    max-width: 150px;
    margin: 0 auto 5px auto;
  }
  .main-title{
    @include light;
    @include small{
      font-size: 30px;
    }
    @include medium{
      font-size: 54px;
    }
    line-height: 1.2;
  }
  .sub-title{
    font-weight: $regular;
    font-size: 24px;
  }
  .rss{
    font-size: 16px;
    vertical-align: middle;
  }
  h3{
    @include light;
    font-size:40px;
    strong{
      @include bold;
      // color:white;
    }
  }
}