.top{
//   background: url(../images/stars-bg.jpg) no-repeat top center; 
//   // background: url(../images/stars2-bg.png) no-repeat top center; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/stars-bg.jpg', sizingMethod='scale');
//   -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/stars-bg.jpg', sizingMethod='scale')";
background: $dark-purple;
}

.header{
  border-bottom:1px solid white(0.15);
  // background: white(0.1);  
  @include cf;
  padding: 0 $spacing/2;
}

.header-container{
}
.header-logo{
  float: left;
  width: 32px;
  height: 32px;
  margin: 10px 0;
  position: relative;
  left: -2px;
  a, img{
    display: block;
    width: 100%;
  }
}
.header-nav{
  float: right;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  li{
    display: inline-block;
    line-height: 32px;
    @include medium{      
      margin-left: 40px;
    }
    @include small{
      margin-left: 10px;
      font-size: 12px;
    }
  }
  a{
    &, &:link, &:visited, &:active{
      color: white;
    }
    &:hover{

    }
  }
}
.actions{
  padding-right: 1px;
}