.top{
//   background: url(../images/stars-bg.jpg) no-repeat top center; 
//   // background: url(../images/stars2-bg.png) no-repeat top center; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/stars-bg.jpg', sizingMethod='scale');
//   -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/stars-bg.jpg', sizingMethod='scale')";
  border-bottom: 5px solid $light-grey;
  position: relative;
  background: $dark-purple;
}

.header{
  border-bottom:1px solid white(0.15);
  // background: white(0.1);  
  @include cf;
  padding: 0 $spacing/2;
  position: relative;
  z-index: 100;
}

.header-container{
}
.header-logo{
  @include small{
    margin: 10px auto;
  }
  @include medium{
    float: left;
    margin: 10px 0;
    position: relative;
    left: -2px;
  }
  width: 32px;
  height: 32px;
  a, img{
    display: block;
    width: 100%;
  }
}
.header-nav{
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  @include small{
    li{
      display: block;
    }
  }
  @include medium{
    float: right;
    li{
      display: inline-block;
      line-height: 32px;
      margin-left: 40px;
    }
  }
  a{
    &, &:link, &:visited, &:active{
      color: white;
    }
    &:hover{

    }
  }
}
.actions{
  padding-right: 1px;
}

#space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
