.hero{
  padding: $spacing 0;  
}

.hero-container{
  padding-top: $spacing;
  color: white;
}

.hero-logo{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  a, img{
    display: block;
    width: 100%;
  }
}
.hero-tagline{
  font-weight: $light;
  margin-bottom: $spacing;
}

