.header{
	border: none;
	margin: 0;
	clear: both;
	@include small{
		padding-left: 10px;
		padding-right: 10px;
	}
}
.nav{
	border-radius: 3px;
	border-bottom:1px solid white(0.15);
	border-top:1px solid white(0.15);		
	background:white(0.1);
	list-style-type: none;
	padding: 10px 20px;
	margin: 0;
	text-align: center;
	li{
		display: inline-block;
		@include medium{			
			margin-right: 40px;
		}
		@include small{
			margin-right: 10px;
		}
	}

}
h1.logo{
	margin: 30px auto 20px auto;
	width: 100%;
	max-width: 350px;
	img{
		width: 100%;
	}
}
.actions{
	padding-right: 1px;
}