.hero-container{
  padding: $spacing 0;
}

.hero-logo{
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  a, img{
    display: block;
    width: 100%;
  }
}
.hero-tagline{
  color: white;
  font-weight: $light;
}
.hero-screenshot{
  width: 100%;
  margin: $spacing auto;
  img{
    display: block;
    width: 100%;
  }
}
