.home{
	text-align: center;
	// p{
	// 	
	// 	@include small{
	// 		font-size: 14px;
	// 	}
	// 	@include medium{
	// 		font-size: 16px;
	// 	}
	// }
}
.tagline{
	margin-bottom:20px;
	color:white(0.8);
	@include light;
	font-size:24px;
}
.hero{
	.actions{
		a{
			@include small{
				margin-bottom: $spacing; 
			}
			@include medium{
				margin-bottom: 0;
				@include span-columns(6);
				@include nth-omega(2n, of-type);
			}
		}
	}
}

.intro{
	padding: $spacing*2 0;
	p{
		font-size:24px;
		@include medium{
			@include pad(2,2);
		}
	}
}


.section-heading{
	font-size: 36px;
	font-weight: $light;
	margin-bottom: $spacing;
}