.showcase{
	.site{

		border-bottom:1px solid white(0.15);
		border-top:1px solid white(0.15);		
		background:white(0.1);
		padding:20px;
		margin-bottom: $spacing;
		@include cf;
		.screenshot{
			float: left;
			width: 300px;
			a, img{
				display: block;
				width: 100%;
			}
			a{
				@include glow;
				position: relative;
				top: 0px;
				display: block;
				@include medium{
					height: 175px;
				}
				overflow: hidden;			
				@include border-radius(2px);
				@include box-shadow(0px 2px 3px black(0.2));
			}
			img{
			}
			margin-bottom: 10px;
		}
		.description{
			margin-left: 300px + $spacing;
		}
		.title{
			text-align: left;
			font-size: 24px;
			a{
				@include light;
			}
		}
		p{
			margin-bottom: 0;
		}
	}
}
.apply{
	text-align: center;
}