.team{
	text-align:center;
	h4{
		font-size:36px;
		margin-bottom:0px;
		line-height:1;
	}
	h5{
		font-size:16px;
		@include light;
		margin-bottom:10px;
		color:white(0.5);
	}
	.portrait{
		@include border-radius(100px);
		@include single-transition(ease-out, all, 300ms, 0ms);
		position:relative;
		display:block;
		width:200px;
		margin:0 auto 20px auto;
		img{
			display:block;
		}
		&:hover{
			background:white(0.125);
			@include box-shadow(0px 0px 50px white(0.3));
			top:-3px;
		}
	}
}