- content_for(:title, "#{current_article.title} - Telescope")
- content_for(:layout, "post")
- content_for(:itemtype, "Article")

= wrap_layout :layout do

  / - if current_article.data.thumbnail
  /   %figure.post-thumbnail.wide
  /     %img.thumb{:src => "/images/blog/"+current_article.data.thumbnail}

  %section
    .container
      .container-medium.page-content
        .page-title
          %h1.main-title=current_article.data.title

        .post-content
          =find_and_preserve do
            =yield

        =partial('partials/post_footer')
  =partial('partials/newsletter_form')
  =partial('partials/comments')

     