.actions
  .container.actions-container
    %a.button.action-button.demo{:href=>"http://demo2.telescopeapp.org"}
      %span.bg1
      %span.bg2
      %span.button-content
        %span.action 
          %span Try Demo
    %a.button.action-button.github{:href=>"http://github.com/SachaG/Telescope"}
      %span.bg1
      %span.bg2
      %span.button-content
        %span.action Fork on GitHub