%section.book
  .ebook
    %h3 Our Book: <a href="http://www.discovermeteor.com">Discover Meteor</a>
    .ebook-content
      %p
        We've put everything we learned building Telescope to write <a href="http://www.discovermeteor.com">the definitive guide to creating Meteor apps</a>. In it, we teach you how to build Microscope, a simplified version of Telescope, taking you through the process step by step. 
      / %form#mc-embedded-subscribe-form.validate.form-inline{:action => "http://sachagreif.us2.list-manage.com/subscribe/post?u=b5af47765edbd2fc173dbf27a&id=ed0fb4ac61", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
      /   / %label{:for => "mce-EMAIL"} Enter your email to receive Meteor tips and know when the book comes out
      /   %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "Your email address", :required => "", :type => "email", :value => ""}
      /   %input#origin{:type=>"hidden", :name=>"ORIGIN"}
      /   %button#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit"} Get Meteor Tips