%section.brick-by-brick-section
  .container
    .brick-by-brick
      %h2.section-heading Our Free Guide To Building Awesome Communities
      .image
        %a{href: "http://communitybuildingguide.com"}
          %img.medium{src: '/images/city2.svg', alt: 'Brick by Brick: A free guide to building awesome communities'}
      .description
        :markdown 
          Telescope will help you launch your site, but it's up to you to make it *successful*.

          That's why we've written *Brick By Brick*, a **free guide** that will walk you through everything you need to do to grow an active, engaged community. 

        .actions
          %a.button-simple{href: "http://communitybuildingguide.com"} Read It Now