%section.examples
  %h3 What Are People Using It For?
  .row
    .site
      %a.logo{:href => "http://news.hnkansai.org"}
        %img{:src => "images/hnkansai.png"}
      / %h4 Community Site             
      %p The <a href="http://news.hnkansai.org">Hacker News Kansai</a> community uses Telescope to keep in touch and share ideas in between meetups. 
    .site  
      %a.logo{:href => "http://sidebar.io"}
        %img{:src => "images/sidebar.png"}
      / %h4 Collaborative Linkblog
      %p <a href="http://sidebar.io">Sidebar</a> uses Telescope's digest view to display the 5 best design links of the day, as curated by a team of editors. 
    .site
      %a.logo{:href => "http://www.crater.io"}
        %img{:src => "images/crater.png"}
      %p <a href="http://www.crater.io">Crater.io</a> is a message board to discuss Meteor news and share Meteor tips.
  %p
    %a.more{:href => '/madewith'} More examples…