%section.examples
  .container.examples-container
    %h2.section-heading Built With Telescope
    - data.showcase.each do |site|
      .site
        .screenshot
          %a{:href => site.url}
            %img{ :src=> '/images/showcase/'+site.screenshot}
        .description
          %h4.title
            %a{:href => site.url}=site.title
          %p
            :markdown
              #{site.description}