%section.features-section
  .container
    .section-heading Features
    .features
      - data.features.each do |feature|
        .feature
          %h4.feature-name
            =feature.name
            %a.feature-link{href: feature.link} [DOCS]
          .feature-description
            :markdown
              #{feature.description}