%section.features.no-border

  .feature-block.feature-community
    %h3.feature-title Community-in-a-box
    .feature-description 
      Telescope makes it easy to launch communities. Build and customize your very own Hacker News, Reddit, or Product Hunt!
    .feature-images
      .images-container
        %img.feature-image.image-browser.image-1{:src => '/images/home/tsc-posts.jpg'}
        %img.feature-image.image-browser.image-2{:src => '/images/home/tsc-comments.jpg'}
      .images-legend
        %a{:href=>"http://crater.io"}> Crater.io
        , a community about the Meteor JavaScript framework. 

  .feature-block.feature-email
    %h3.feature-title Built-In Newsletters
    .feature-description 
      Telescope integrates with <a href="http://mailchimp.com">MailChimp</a> to automatically send a daily or weekly email newsletter. 
    .feature-images
      .images-container
        %img.feature-image.image-browser.image-1{:src => '/images/home/tsc-newsletter.jpg'}
      .images-legend
        Newsletter emails will also adopt your site's color and branding.

  .feature-block.feature-mobile
    %h3.feature-title Mobile-Ready
    .feature-description Telescope's default theme includes a mobile view and touch-friendly targets.
    .feature-images
      .images-container
        %img.feature-image.image-1{:src => '/images/home/tsc-mobile-home.png'}
        %img.feature-image.image-3{:src => '/images/home/tsc-mobile-home2.png'}
        %img.feature-image.image-4{:src => '/images/home/tsc-mobile-comments.png'}
        %img.feature-image.image-2{:src => '/images/home/tsc-mobile-menu.png'}
      .images-legend
        %a{:href=>"http://news.powerupgames.io/"}> GameDev News
        , a community for game development news and discussions. 

  .feature-block.feature-extend
    %h3.feature-title Easy To Customize
    .feature-description Replace template fragments, add menu items, or inject new modules with a single line of code.
    .feature-code
      :code
        # lang: javascript
        templates.postTitle = "customTitle";
        primaryNav.push("customMenu");
        footerModules.push("customFooter");
  .feature-grid
    .feature-block.feature-open
      %h3.feature-title Open Source
      .feature-description Telescope is MIT-licensed. You can use it completely free, even for commercial applications.   

    .feature-block.feature-open
      %h3.feature-title Built With Meteor
      .feature-description Telescope runs on JavaScript framework <a href="http://meteor.com">Meteor</a>, which means it's  real-time, fast, and reactive. 

  .feature-block
    %h3.feature-title Other Features
    %ul
      - data.features.each do |feature|
        %li.feature
          %h4=feature.name
          %p=feature.description