%section.footer
  .container.footer-container

    .footer-content
      - data.footer_nav.each do |item|
        .footer-section
          %h4.footer-heading= item.title
          .footer-links
            %ul
              - item.items.each do |link|
                %li
                  %a.footer-link{href: link.url}= link.title
      .footer-section
        %h4.footer-heading Credits
        :markdown

          Telescope lens icon by [Prekesh Chavda](http://www.prekesh.com/).

          Constellation background by [Acauã Montiel](http://codepen.io/acauamontiel/pen/mJdnw).
    =partial('partials/meteor')

  .footer-chart
    %h2.section-heading Project Stats
    %h4.section-subheading For the last 60 days
    .footer-chart-inner
      %canvas#myChart{width: '600px', height: '150px'}

      .chartjs-tooltips
        .tooltip-divider
        .tooltips
          - (1..4).each_with_index do |e, i|
            .tooltip
              %span.tooltip-label
              %span.tooltip-value
