.hero
  .container.hero-container
    %h1.hero-logo
      %img{src: '/images/logo.png', alt: 'Telescope'}
    %h2.hero-tagline The easiest way to launch your community
    .hero-screenshot
      .browser-top
        .browser-buttons
          .browser-button
          .browser-button
          .browser-button
        .browser-bar
      .browser-screenshot
        %img{src: "/images/showcase/meta.jpg"}
    %p
      %a{href: "http://crater.io"} Crater.io 
      A community to discuss all things Meteor.
    %p Built with Telescope