.hero
  .container.hero-container
    %h1.hero-logo
      %img{src: '/images/logo.png', alt: 'Telescope'}
    %h2.hero-tagline The React + Meteor app platform
    .hero-actions
      .hero-action.demo
        %a.button.hero-button{:href=>"https://github.com/TelescopeJS/sample-project"}
          %span.bg1
          %span.bg2
          %span.button-content
            %span.action 
              %span Get Started
      / .hero-action.deploy
      /   %a.button.hero-button{:href=>"https://heroku.com/deploy?template=https://github.com/TelescopeJS/sample-project"}
      /     %span.bg1
      /     %span.bg2
      /     %span.button-content
      /       %span.action 
      /         %span.button-label One-Click Deploy
      /         %span.button-sublabel With Heroku
      / .or
      / .hero-action.install
      /   %pre
      /     %code
      /       meteor add telescope:core
      /   .install-meteor Don't have Meteor? <a href="https://www.meteor.com/install">Get started here</a>.
    / .hero-screenshot
    /   .inner
    /     %img{src: "/images/home/watchjudge.jpg"}
    /   .hero-legend
    /     %a{href: "http://watchjudge.com/"} Watch Judge
    /     is powered by Telescope.