%section.intro
  .container.intro-container
    .intro-contents
      :markdown
        Telescope is a **free**, **open-source** web application that makes it easy for anybody to launch their own community.

        With Telescope, you can set up a site like [Product Hunt](http://producthunt.com) or [Hacker News](http://news.ycombinator.com) in minutes. And you'll then be able to tweak your app's layout, colors, and branding without having to write a single line of code. 