%section.intro
  .container.intro-container
    .intro-contents
      :markdown
        Telescope Nova is a **free**, **open-source** app platform built with [React](https://facebook.github.io/react/) and powered by [Meteor](https://www.meteor.com/) on the back-end. 

        Nova provides simple building blocks such as posts, comments, forms, and modals, and makes it easy to quickly customize them to build modern, social web apps.