%ul.nav
  / %li
  /   %a{:href => '/'} Home
  %li
    %a{:href => '/why-telescope'} Why Telescope?  
  %li
    %a{:href => '/showcase'} Showcase
  %li
    %a{:href => '/docs/'} Docs
  / %li
  /   %a{:href => '/faq'} FAQ
  / %li
  /   %a{:href => '/contributors'} Contributors    
  %li
    %a{:href => '/blog'} Blog
  / %li
  /   %a{:href => 'http://demo2.telescopeapp.org/'} Demo
  / %li
  /   %a{:href => 'https://github.com/TelescopeJS/Telescope'} GitHub
  / %li
  /   %a{:href => 'https://giteor.com/deploy?git=com.github.SachaG.Telescope.master'} Deploy
  %li
    %a{:href => 'http://meta.telesc.pe/'} Discuss
  %li
    %a{:href => 'https://trello.com/b/oLMMqjVL/telescope-roadmap'} Roadmap  
  %li
    %a{:href => '/contribute'} Contribute  
  %li
    %a{:href => '/get-help'} Get Help  