%ul.nav
  %li
    %a{:href => '/'} Home
  %li
    %a{:href => '/showcase'} Showcase
  %li
    %a{:href => '/faq'} FAQ
  %li
    %a{:href => '/contributors'} Contributors    
  %li
    %a{:href => '/blog'} Blog
  / %li
  /   %a{:href => 'http://demo.telesc.pe/'} Demo
  / %li
  /   %a{:href => 'https://github.com/SachaG/Telescope'} GitHub
  / %li
  /   %a{:href => 'https://giteor.com/deploy?git=com.github.SachaG.Telescope.master'} Deploy
  %li
    %a{:href => 'http://meta.telesc.pe/'} Meta  
  %li
    %a{:href => '/contribute'} Contribute  