.post-footer
  .meta-date
    =current_article.date.strftime('%B %e %Y')
    by
    %a{:href => 'http://sachagreif.com'} Sacha Greif
  .meta-share
    .twitter
      :plain
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="telescopeapp">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
  / %h3.blog
  /   %a.blog-link{:href => '/blog'} The Blog
  /   %a.rss{:href => '/feed.xml'} [RSS]