%section.reactmeteor
  .container.reactmeteor-container
    %h2.section-heading Powered By Open-Source
    .technologies
      .technology.react
        %a.technology-logo{:href=>"https://facebook.github.io/react/"}
          %img{:src=>"/images/home/react-logo.png", :alt=>"React"}
        %h3 React
        %p Telescope's front-end is built with React's modular, maintainable components. 
      .technology.graphql
        %a.technology-logo{:href=>"https://graphql.org"}
          %img{:src=>"/images/home/graphql-logo.png", :alt=>"GraphQL"}
        %h3 GraphQL
        %p Telescope is built on top of a flexible GraphQL API.
      .technology.meteor
        %a.technology-logo{:href=>"https://meteor.com"}
          %img{:src=>"/images/home/meteor-logo.png", :alt=>"Meteor"}
        %h3 Meteor
        %p Meteor serves as Telescope's back-bone and built system. 
