%section.reactmeteor
  .container.reactmeteor-container
    %h2.section-heading Powered By Open-Source
    .technologies
      .technology.react
        %a.technology-logo{:href=>"https://facebook.github.io/react/"}
          %img{:src=>"/images/home/react-logo.png", :alt=>"React"}
        %h3 React
        %p Telescope's front-end is built with React's modular, maintainable components. 
      .technology.meteor
        %a.technology-logo{:href=>"https://meteor.com"}
          %img{:src=>"/images/home/meteor-logo.png", :alt=>"Meteor"}
        %h3 Meteor
        %p Telescope's back-end is powered by Meteor's powerful real-time data layer.
