%section.support
  %h3 Professional Support
  %p
    For paid professional support, customization, or any larger Telescope-based projects, please get in touch with official Telescope partner <a href="http://differential.io/">Differential</a>.