%section.team.no-border
  %h3 The Telescope Team
  .row
    .member
      %a.portrait{:href=>"http://sachagreif.com", :target=>"_blank"}
        %img{:src=>"images/photo-sacha-big.png"}
      %h4
        %a{:href=>"http://sachagreif.com", :target=>"_blank"} Sacha Greif
      %h5 Osaka, Japan  
      %p I've worked with startups such as <a href="http://hipmunk.com/" target="_blank">Hipmunk</a> and <a href="http://rubymotion.com/" target="_blank">RubyMotion</a> as a product designer. But I now focus on helping startups find great designers with <a href="http://folyo.me/" target="_blank">Folyo</a>, as well as <a href="http://sachagreif.com/ebook" target="_blank">writing books</a>. 
    .member
      %a.portrait{:href=>"http://tom.thesnail.org", :target=>"_blank"}
        %img{:src=>"images/photo-tom-big.png"}
      %h4 
        %a{:href=>"http://tom.thesnail.org", :target=>"_blank"} Tom Coleman
      %h5 Melbourne, Australia  
      %p I'm one part of <a href="http://percolatestudio.com/" target="_blank">Percolate Studio</a>, a web development shop with a focus on quality and user experience. I'm also the co-creator of <a href="https://github.com/oortcloud/meteorite" target="_blank">Meteorite</a> and the <a href="https://atmosphere.meteor.com/" target="_blank">Atmosphere</a> package repository.