---
title: 'Configuring Telescope'
published: true
author: sacha
date: 0001/01/02
blog_name: docs
section: 1
blurb: "Configuring Telescope's settings."
order: 2
---

### The Admin Account

When you first access your new Telescope install, you'll be confronted with a few getting started posts. After reading them, the first step will be creating your account. 

The first account you create will automatically be assigned admin rights, which will let you view the admin menu and access Telescope's settings panel. 

### Customizing Telescope

Once your account has been created and you've been logged in, you should see a new “admin” menu appear in the navigation bar. This gives you access to a few options, but for now we'll focus on the Settings panel.

<div class="video docs-video">
  <h4>An Overview of Telescope's Settings</h4>
  <iframe width="420" height="278" src="//www.youtube.com/embed/KtFoXSTQ7bU" frameborder="0" allowfullscreen></iframe>
  <p>Note: Settings screen might have changed slightly since screencast recording.</p>
</div>

The first thing you'll want to set is probably your site's title. Alternatively, you can also specify an image to be used as logo or tweak the app's color scheme. Don't forget to save by clicking the "Submit" button at the bottom of the page. 

I also strongly recommend signing up for an [Embedly](http://embed.ly) account and entering your API key in Telescope. This will give you visual thumbnail previews for all your links, which is an easy way to make your site seem a little less bare. 

<% note do %>

### `settings.json`

Meteor also provides a built-in way to store settings, in a `settings.json` file. If you prefer that approach, you can also define any Telescope setting in that file (in either `Meteor.settings` or `Meteor.settings.public`) using its property name, and it will be automatically applied. 

<% end %>

### Setting Up Categories

Another useful panel is the Categories page, also accessible via the Admin menu. 

From here, you can create predefined categories (such as "announcements", "discussions", "resources", etc.) that you will then be able to assign to each post. 

### Your First Post

With the set up finished, you're now ready to create your first post! Just click "post" and have fun!

This should be enough to get you started. Have fun with your new site!