---
title: 'Customization Case Study: BJJBot'
published: true
author: sacha
date: 2015/10/22
---

Lately I've been working on a new Telescope-based project, [BJJBot](http://bjjbot.com).

READMORE

It's a database for Brazilian Jiu-Jitsu and MMA videos, but even if you're not into people throwing and choking each other, you might still learn a thing or two from the various customization techniques I used. 

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/k0kGSUfhgEs" frameborder="0" allowfullscreen></iframe>
</div>

### Resources

- [Tabdown](https://github.com/sleep/tabdown) (on [NPM](https://www.npmjs.com/package/tabdown-sacha))
- [BJJBot Package](https://github.com/SachaG/bjjbot/tree/devel/packages/bjjbot)

Note: the BJJBot code is provided for educational purposes only. It's *not* a theme, so although you're welcome to reuse any of the customization logic in your own projects, please don't copy the design itself!