---
title: "Getting Started With Telescope Customizations (Video)"
published: true
author: sacha
date: 2015/07/07
---

One of Telescope's strong suits is how flexible and customizable it is. Yet it can be hard to know just where to start. 

READMORE

In this 10-minutes video, I'll walk you through the simple customizations contained in Telescope's [sample custom project](https://github.com/telescopejs/custom-project) repository. 

You'll learn how to replace templates, inject templates in specific template zones, add custom fields, and add custom callbacks. Let's get started!

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/Gwkt0uu3Yuc" frameborder="0" allowfullscreen></iframe>
</div>
