---
title: 'Getting Started With Nova'
published: true
author: sacha
date: 2016/02/24
---

If you're curious about [Nova](/blog/introducing-nova) and would like to contribute to the project, you've come to the right place!

READMORE

Here's a short video that outlines the project's main tasks:

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/f6xXW7lAf9g" frameborder="0" allowfullscreen></iframe>
</div>

I also set up a [Trello roadmap](https://trello.com/invite/b/dwPR0LTz/bc701c998b1c85c113ea40ec54dfbd54/nova-roadmap) to keep track of work. The roadmap contains four lists:

- **Components** refers to work on the set of basic, customizable React components that will ship with Nova. In other words, hooking these components up with the features provided by the set of packages that make up Nova. 
- The **Main Packages** list contains tasks related to porting over disabled Telescope packages. This means enabling the package, seeing what errors pop up, fixing them, testing the package, and repeating until it works. 
- **Secondary Packages** is the same, but for packages that are a bit less important.
- **General Stuff** covers all the rest, including global features like Autoform and internationalization. 

So what should you help with?

If you have previous React experience, working on the **components** should be the easiest. On the other hand, if you're new to React but familiar with Telescope, you can start with **packages**.

And of course, feel free to drop by the [Slack chatroom](http://slack.telescopeapp.org) if you have any questions!