---
title: 'Telescope Hangout #3: Forms, Ads, And Lots Of Questions'
published: true
author: sacha
date: 2014/12/05
---

Another great hangout, with participation from the creators of the two biggest Telescope communities around!

READMORE

<% note do %>

Note: you can already sign up and start asking questions for [next week's hangout](http://www.crowdcast.io/e/telescope4).

<% end %>

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/nuzMEoRh_M4" frameborder="0" allowfullscreen></iframe>
</div>

**Today's participants:** 

- [Sacha Greif](https://twitter.com/SachaGreif)
- [Josh Owens](https://twitter.com/joshowens)
- [Ben Gott](https://twitter.com/BenGottAbides)
- [Jean-Nicholas Hould](https://twitter.com/nicholashould)
- [Joshua Kidd](https://twitter.com/g33k_kidd)
- Mário
- Philip

### Topics Discussed

#### Telescope + Autoform ([02:01](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=121))

I go over Telescope's new Autoform integration using [the quickform feature](http://www.telesc.pe/docs/custom-fields/) and explain the basic structure of how the schema and form template work together.

- [SimpleSchema](https://github.com/aldeed/meteor-simple-schema)
- [Autoform](https://github.com/aldeed/meteor-autoform)

#### i18nscope ([11:54](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=714))

- [i18nscope](http://i18nscope.meteor.com/)
- [How do we keep i18n files organized?](https://github.com/TelescopeJS/Telescope/issues/577#issuecomment-65728191)

#### Question: Preventing DDP Access ([13:39](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=819))

- [Validate Subscription/Methods Origin](http://stackoverflow.com/questions/27118245/validate-subscription-methods-origin)

#### Question: Which Packages/Tools/Plugins Do You Use? ([17:04](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=1024))

- [Meteor Spotting](spotting.meteor.com)

#### Question: Does Your Meteor App Take Forever to Reload? ([20:05](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=1205))

#### Question: What Are Places/Books That Talk About Meteor Patterns?

- [The Meteor Chef](http://themeteorchef.com/)
- [Bulletproof Meteor](https://bulletproofmeteor.com/)
- [Meteor Cookbook](https://github.com/awatson1978/meteor-cookbook)

#### Tests in Telescope ([23:13](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=1393))

- [Velocity](http://velocity.meteor.com/)
- [The Meteor Testing Manual](http://www.meteortesting.com/)

#### The New Embedly Module ([25:27](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=1527))

#### Jean-Nicholas: Implementing Ads on Bootstrappers.io ([28:41](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=1721))

- [Bootstrappers.io](http://bootstrappers.io)
- New template insert points: [posts_lists.html](https://github.com/TelescopeJS/Telescope/blob/master/client/views/posts/posts_list.html#L6-L8)

#### Joshua: Working on a Chat App ([32:07](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=1927))

- [Open Hangout](http://openhangout.g33kidd.me/)

#### Mario: Not Happy With Meteor ([35:01](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=2101))

#### Methods vs Allow/Deny ([26:41](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=2201))

#### Philip: Looking at Telescope ([43:19](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=2599))

- [Meteor Up](https://github.com/arunoda/meteor-up)

#### Ben: Future Package Plans ([45:53](https://www.youtube.com/watch?v=nuzMEoRh_M4#t=2753))

- [Avatar](https://github.com/bengott/meteor-avatar)