---
title: "Telescope Weekly #2: Subs Manager, Fast Render"
published: true
author: sacha
date: 2015/07/11
---

What's going on in the Telescope community for the week of July 6 - 12.

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/pgLXnn_gaZ4" frameborder="0" allowfullscreen></iframe>
</div>

This week, I'm talking about implementing the [Subs Manager](https://github.com/meteorhacks/subs-manager) and [Fast Render](https://github.com/meteorhacks/fast-render) packages from MeteorHacks. 

Topics include: 

- Preventing flickering and empty states.
- Using Fast Render with template-level subscriptions.
- Debugging Fast Render. 