---
title: "Telescope Weekly #4: Screenings, DebugScope, Package-Based Architecture, SketchTalk"
published: true
author: sacha
date: 2015/07/25
---

What's going on in the Telescope community for the week of July 20 - 26.

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/YyUi6Z9cCu0" frameborder="0" allowfullscreen></iframe>
</div>

- [Screenings](http://screenings.io)
- [Introducing Screenings](/blog/introducing-screenings)
- [DebugScope](https://github.com/TelescopeJS/Telescope/releases/tag/v0.22.1rc)
- [Telescope's Package-Based Architecture](/blog/telescope-package-based-architecture/)
- [SketchTalk Videos](http://video.sketchtalk.io/)

And as always, subscribe to [the Telescope YouTube channel](https://www.youtube.com/channel/UCGIvQQ6zw7ov2cHgD70HFlA) to help us get to 500 subscribers!