---
title: "Telescope Weekly #5: Zeiss, Hosting Survey, DailyVC, GitXiv"
published: true
author: sacha
date: 2015/08/04
---

What's going on in the Telescope community for the week of July 27 - August 2.

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/HsM-Lqw_GDo" frameborder="0" allowfullscreen></iframe>
</div>

- [Screenings](http://screenings.io)
- [Zeiss](https://github.com/TelescopeJS/Zeiss)
- [The Screenings Launch: A Meteor Scaling Case Study](http://www.telescopeapp.org/blog/screenings-launch-meteor-scaling-case-study)
- [Hosting Survey](https://sachag.typeform.com/to/yndpOz)
- [5 Ways to Build Your Own Reddit Alternative](http://www.makeuseof.com/tag/5-ways-build-reddit-alternative/)
- [DailyVC](http://www.dailyvc.co/)
- [pmarca Daily](http://www.pmarcadaily.com/)
- [GitXiv](http://gitxiv.com/)

And as always, subscribe to [the Telescope YouTube channel](https://www.youtube.com/channel/UCGIvQQ6zw7ov2cHgD70HFlA) to help us get to 500 subscribers!