---
title: "Telescope Weekly #3: Debug Mode, Scopemount, Reddit vs Telescope, Bug Bounties"
published: true
author: sacha
date: 2015/07/18
---

What's going on in the Telescope community for the week of July 13 - 19.

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/0-xWymx4ZxM" frameborder="0" allowfullscreen></iframe>
</div>

- [Template debug mode](https://www.youtube.com/watch?v=7Ux4wxg7Kko)
- [Scopemount](http://scopemount.startrack.io)
- [Reddit vs Telescope](http://www.telescopeapp.org/blog/using-telescope-as-a-reddit-alternative/)
- [Bug Bounties](https://www.bountysource.com/teams/telescopejs)
- [Pride Study Community](https://community.pridestudy.org)
- [StyleUpdate](http://www.styleupdate.de)

And as always, subscribe to [the Telescope YouTube channel](https://www.youtube.com/channel/UCGIvQQ6zw7ov2cHgD70HFlA) to help us get to 500 subscribers!