---
title: "Telescope Weekly #1: SlugScope, Zen Market, Ryfma"
published: true
author: sacha
date: 2015/07/04
---

What's going on in the Telescope community for the week of June 29 - July 5.

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/XAlYnhCrCQs" frameborder="0" allowfullscreen></iframe>
</div>

Welcome to the first installement of Telescope Weekly! I gave up on [my previous attempt](/blog/this-week-in-telescope-1/) at doing a weekly round-up after just one try, because I just didn't have the energy to write blog posts after coding all week. 

But hopefully doing videos will be more fun for me, and more fun for you to watch as well!
