---
title: "Telescope's Package-Based Architecture"
published: true
author: sacha
date: 2015/07/24
---

Telescope's file architecture is a bit different from other Meteor apps, as it's 100% package-based. In this hangout, we delve deeper into what this means. 

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/mEI-wA0jsNQ" frameborder="0" allowfullscreen></iframe>
</div>

### Links

- [Building Large Meteor Applications](https://meteor.hackpad.com/Building-Large-Apps-Tips-d8PQ848nLyE)