---
title: 'Telescope Hangout #2: Search, SEO, and SCSS'
published: true
author: sacha
date: 2014/11/27
---

Great hangout this week. We were lucky enough to have [Slava Kim](https://twitter.com/imslavko) from Meteor drop in and share his views on a lot of topics, including SEO for Meteor and improving the package ecosystem.

READMORE

And don't miss the last part of the hangout, where [Anthony Mayer](https://github.com/anthonymayer) drops in and has a very in-depth discussion with Slava about using CSS pre-processors in Meteor, and the intricacies of the Meteor package system. 

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/gfdez5ANBCA" frameborder="0" allowfullscreen></iframe>
</div>

**Today's participants:** 

- [Sacha Greif](https://twitter.com/SachaGreif)
- [Slava Kim](https://twitter.com/imslavko)
- [Ben Gott](https://twitter.com/BenGottAbides)
- [Anthony Mayer](https://github.com/anthonymayer)
- And featuring a special cameo by [Jean-Marc Denis](https://twitter.com/jm_denis).

### Topics Discussed

#### Search in Telescope and other Meteor apps ([01:00](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=60))

- [Telescope's existing search package](https://github.com/TelescopeJS/Telescope/tree/master/packages/telescope-search)
- [Algolia](https://www.algolia.com/)
- [Algolia Meteor package](https://github.com/wangjohn/algolia_meteor)

#### Telescope as a forum and SEO-friendliness ([07:11](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=429))

- [Server Side Rendering for Meteor](https://meteorhacks.com/server-side-rendering.html)
- [meteor-ssr](https://github.com/meteorhacks/meteor-ssr)
- [Meteor SEO - Google Fetch & Render](https://meteorhacks.com/meteor-seo-google-fetch-and-render.html)
- [Telescope URL slugs discussion](https://github.com/TelescopeJS/Telescope/pull/465)

#### Organization and naming in Meteor apps ([11:37](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=697) and [14:53](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=893))

- [Herald](https://github.com/Meteor-Reaction/Herald)

#### Avoiding work duplication in packages ([12:34](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=754))

- [Crater Roundtable: Collaborating on new packages](http://crater.io/posts/exDL2ZisCji22sg3N)
- [Package proposal: meteor-avatars](http://crater.io/posts/BfMsgzs5AzEdp6Byu)
- [meteor-gmail](https://github.com/Slava/meteor-gmail)

#### UML diagrams for Meteor apps ([22:38](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=1358))

- [Unified Modeling Language](http://en.wikipedia.org/wiki/Unified_Modeling_Language)

#### Telescope v0.9.10: i18nScope ([29:24](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=1764))

- [TAP:i18n](https://github.com/TAPevents/tap-i18n)

#### The Telescope tag on Stack Overflow ([33:50](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=2030))

- [Telescope on Stack Overflow](http://stackoverflow.com/questions/tagged/telescope)

#### What are people using Telescope for? ([34:56](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=2096))

- [Telescope showcase](http://www.telesc.pe/showcase)

#### SassyScope and CSS pre-processors ([38:27](https://www.youtube.com/watch?v=8h7FH3eILBg&list=UUXo8tlkfiKaOwWStJYc5KpA#t=2307))

- [meteor-scss](https://github.com/fourseven/meteor-scss)