---
title: 'Telescope Hangout #4'
published: true
author: sacha
date: 2014/12/16
---

Short hangout this week, where I covered what's new with Telescope and answered a few questions. 

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/UqeylXFmcu4" frameborder="0" allowfullscreen></iframe>
</div>

- [Toolyo](http://toolyo.com/)