---
title: "Telescope Weekly #6: SubScope, Zeiss, FundingHunt, GroupHunt"
published: true
author: sacha
date: 2015/08/18
---

What's going on in the Telescope community for the weeks of August 2 - 16.

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/aKoDH6s6sCs" frameborder="0" allowfullscreen></iframe>
</div>

- [SubScope](/blog/telescope-v023-subscope/)
- [Zeiss](https://github.com/TelescopeJS/Zeiss)
- [Zeiss Tutorial](https://www.youtube.com/playlist?list=PLBoa_Q6hVeSzw6cGRaKInzNc3saxWcH4M)
- [FundingHunt](http://www.fundinghunt.co/)
- [GroupHunt](https://www.grouphunt.sg/)

And as always, subscribe to [the Telescope YouTube channel](https://www.youtube.com/channel/UCGIvQQ6zw7ov2cHgD70HFlA) to help us get to 500 subscribers!