---
title: 'Telescope Hangout #6'
published: true
author: sacha
date: 2015/06/13
---

We haven't had one of these in a while! This week, we covered a lot of upcoming features on the roadmap, and more generally discussed Telescope's next steps. 

READMORE

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/bn8aH-ry04M" frameborder="0" allowfullscreen></iframe>
</div>

#### Table of Contents

- [i18n](https://youtu.be/bn8aH-ry04M?t=42) using [LingoHub](http://lingohub.com)
- [URL slugs](https://youtu.be/bn8aH-ry04M?t=188)
- [File upload](https://youtu.be/bn8aH-ry04M?t=300)
- [Better video support](https://youtu.be/bn8aH-ry04M?t=455)
- [Better SEO support](https://youtu.be/bn8aH-ry04M?t=530)
- [Badges & reward points](https://youtu.be/bn8aH-ry04M?t=630)
- [Telescope as a service](https://youtu.be/bn8aH-ry04M?t=730)
- [Telescope as a CMS](https://youtu.be/bn8aH-ry04M?t=975)
- [Making Telescope more approachable](https://youtu.be/bn8aH-ry04M?t=1170)
- [Using plug-ins with one-click deploy](https://youtu.be/bn8aH-ry04M?t=1560)
- [Stripe integration](https://youtu.be/bn8aH-ry04M?t=1785)
- [Telescope CLI](https://youtu.be/bn8aH-ry04M?t=1890)