- content_for(:title, "The Telescope Blog")

.container
  .container-medium.page-content
    .page-title
      %h3.main-title
        The Blog
        %a.rss{:href => '/feed.xml'} [RSS]
    .articles
      - blog('blog').articles.each do |post|
        .post.inverted
          .post-top
            .date
              =post.date.strftime('%B %e, %Y')
          / - if post.data.thumbnail
          /   %figure.post-thumbnail
          /     %a{:href => post.url}
          /       %img.thumb{:src => "/images/blog/"+post.data.thumbnail}
          .post-summary.text-content

            %h2.post-title
              %a{:href => post.url}
                =post.title
            =post.summary
            %a{:href => post.url} Read more…