- content_for(:title, "The Telescope Blog")

%section
  .page-title
    %h3.main-title
      The Blog
      %a.rss{:href => '/feed.xml'} [RSS]
  .articles
    - blog('blog').articles.each do |post|
      .post.inverted
        .post-top
          .date
            =post.date.strftime('%b %e %Y')
        .post-content
          .post-thumbnail
            %a{:href => post.url}
              - if post.data.thumb
                %img.thumb{:src => "/images/blog/"+post.data.thumb}
              - else
                %span.thumb.default-thumb
          .summary

            %h2.post-title
              %a{:href => post.url}
                =post.title
            =post.summary
            %a{:href => post.url} Read more…