- content_for(:title, "Contribute to Telescope")

%section.contribute
  %h3 Contribute
  %section.post.inverted.post-content
    :markdown
      Here are a few ways you can help with Telescope, organized from the least to most time-consuming:

      ### Share The Word

      Telling other people about Telescope is the easiest way to help the project. For example, a [tweet](https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ftelesc.pe%2F&text=Telescope: an open-source @meteorjs app that lets anybody build their own Hacker News&url=http%3A%2F%2Ftelesc.pe%2F&via=Telescpe) is always appreciated.

      ### Telescope Support on Meta

      If you have a little bit more time, you can also head over to [Meta.Telesc.pe](http://meta.telesc.pe), Telescope's internal discussion group, to see if anybody has questions or is in need of help over there. 

      ### GitHub Issues

      If you're really feeling generous, you can take a look at Telescope's [open issues on GitHub](https://github.com/TelescopeJS/Telescope/issues) and see if you can take care of a couple of them. 

      ### Contributing Code

      And finally, since Telescope is open-source you can of course also contribute code to the project directly. Just [check out the roadmap](https://github.com/TelescopeJS/Telescope/blob/master/Roadmap.md), and then [drop me an email](mailto:hello@telesc.pe) to let me know what you'd like to work on.
