%section
  .page-title
    %h3.main-title Contribute
  .post.inverted
    .post-content
      :markdown

        Telescope has a lot of potential, but like all open-source projects it can only thrive if enough people contribute to it. That's where you come in!

        Read this short guide to learn how you can help with Telescope:

        ## Contributing New Features

        If you'd like to contribute new features, the first step is deciding what exactly you'll help with. You can start by looking at the [Telescope roadmap](https://trello.com/b/oLMMqjVL/telescope-roadmap). Specifically, the “Next” list. 
        
        Then, before starting work it can be a good idea to [drop by the Slack chatroom](http://meta.telesc.pe/posts/mXbAD7bs6PysTRSuK) or [create a new post on Meta](http://meta.telesc.pe/) to make sure nobody else is currently working on that specific feature. 

        If possible, any new feature should **live in its own package** and **include tests**. 

        This makes Telescope more modular, and also makes it easier to extract the feature as its own generic Meteor package down the road (which is always the goal).

        ## Bugs and Support

        If you don't quite have the time to start work on whole new features, you can also head over to [Meta.Telesc.pe](http://meta.telesc.pe), Telescope's internal discussion group, to see if anybody has questions or is in need of help over there. 

        And if you're feeling generous, you can take a look at Telescope's [open issues on GitHub](https://github.com/TelescopeJS/Telescope/issues) and see if you can take care of a couple of them. 

        ## Documentation

        The Telescope site (the one you're on right now) is also on [GitHub](https://github.com/TelescopeJS/telescope-homepage/). If you'd like to [contribute to the documentation](https://github.com/TelescopeJS/telescope-homepage/tree/master/source/docs) to fix a typo, clarify a point, or even add a section, pull requests are more than welcome!

        ## Security Fixes

        If you stumble upon a security issue, please [get in touch directly](mailto:hello@telesc.pe) instead of disclosing it publicly. 

        ## Sharing The Word

        Finally, telling other people about Telescope is another great to help the project. For example, a [tweet](https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ftelesc.pe%2F&text=Telescope: an open-source @meteorjs app that lets anybody build their own Hacker News&url=http%3A%2F%2Ftelesc.pe%2F&via=telescopeapp) is always appreciated.
