%section.documentation
  .container.page-content
    .container-medium
      .page-title
        %h1.main-title
          Documentation

      .docs-content.text-content
    
        :markdown

          Please refer to the [new documentation](http://docs.telescopeapp.org).