- content_for(:title, "The Telescope Blog")

%section.docs-archive
  .section-title
    %h3.blog
      Documentation
  .articles
    .post.inverted
      .post-content
        - blog('docs').articles.group_by{|item| item.metadata[:page]["section"]}.sort_by{|t, a| t}.each do |section|
          .docs-section
            %h4.section-title=@sections[section[0]-1]
            %ol.docs-toc
              - section[1].reverse_each do |post|
                - if post.url == current_page.url
                  - li_class = "active"
                %li{class: li_class}
                  %a.docs-list-link{:href => post.url}
                    =post.title
                  - if post.data.blurb
                    %p.docs-list-description
                      =post.data.blurb