- content_for(:title, "The Telescope Blog")

%section
  %h3.blog
    Documentation
  .articles
    .post.inverted
      .post-content
        %ul
        - blog('docs').articles.reverse_each do |post|
          %li
            %a{:href => post.url}
              =post.title