- content_for(:title, "Telescope FAQ")

%section.faq
  %h3 FAQ
  .question.inverted.post-content
    %h4 What Can Telescope Be Used For?
    %p Telescope can be used whenever you need to manage lists of user-submitted items. Here's a few of the things you could use Telescope for:
    %ul
      %li Setting up a forum
      %li Aggregating links
      %li Building a social news site
      %li Tracking feature requests
      %li Project management
      %li Bug tracking
  .question.inverted.post-content
    %h4 Is Telescope Right For My Project?
    %p If you're wondering if you should use Telescope for your project, your best bet is to <a href="https://giteor.com/deploy?git=com.github.SachaG.Telescope.master">deploy your own instance</a> and start playing around with it. And if you have any questions, just <a href="http://discovermeteor.wufoo.com/forms/get-in-touch/">drop us a line</a> and we'll be happy to talk.   
  .question.inverted.post-content
    %h4 Can You Help Me Code My App?
    %p Sorry, as much as we want to encourage people to use Telescope, we probably won't have the time to help you with your project directly. After all, if we put our time into improving the app itself, it benefits the whole community, not just a single project. 
  .question.inverted.post-content
    %h4 So Where Can I Find A Meteor Coder?
    %p If you're looking for someone to help you set up or customize Telescope, we would suggest posting on the <a href="groups.google.com/forum/#!forum/meteor-talk">Meteor Google Group</a>. 
  .question.inverted.post-content
    %h4 What If I Find A Bug?
    %p If you find a problem with Telescope we will of course do our best to quickly fix it. Just <a href="https://github.com/SachaG/Telescope/issues">file an issue on GitHub</a> to let us know. 