%section
  .page-title
    %h3.main-title Get Help
  .post.inverted
    .post-content
      :markdown

        Learning to use a new app can be daunting. Good thing we're here to help!

        ### Troubleshooting

        If you're trying to work out an issue, the first thing to do is check out our [troubleshooting section](http://localhost:8000/docs/getting-started/getting-help/). This will tell you how to get help, and what information to mention. 

        ### Hiring A Telescope Developer

        If you'd rather hire someone to take care of business for you, just submit a new post on [Telescope Meta](http://meta.telesc.pe/) in the “Jobs” category. 

        Sample jobs include:

        - Deploying Telescope for you.
        - Creating a custom theme.
        - Developing custom features.

        Or you could also hire someone to teach you the ins and outs of the app, until you become a Telescope expert yourself!