---
title: 'Telescope: An open-source social news app built with Meteor'
page: home
---

- content_for(:title, current_page.data.title)
- content_for(:page, current_page.data.page)

%section.hero
  .row.actions
    %a.button.demo{:href=>"http://demo.telesc.pe"}
      %span.bg1
      %span.bg2
      %span.button-content
        %span.action 
          %span Try Demo
          / (
          / %a{:href=>"http://demo2.telesc.pe"} Demo2
          / ,
          / %a{:href=>"http://demo3.telesc.pe"} Demo3
          / )
    %a.button.github{:href=>"http://github.com/SachaG/Telescope"}
      %span.bg1
      %span.bg2
      %span.button-content
        %span.action Fork on GitHub
    %a.button.deploy{:href=>"https://giteor.com/deploy?git=com.github.SachaG.Telescope.master"}
      %span.bg1
      %span.bg2
      %span.button-content
        %span.action Deploy Your Own
%section.intro
  %h3 What Is Telescope?        
  %p Telescope is an open-source community news app built with <a href="http://meteor.com" target="_blank">Meteor</a>, a real-time Javascript framework. You can use Telescope to easily set up your own discussion board, social news site (think <a href="http://news.ycombinator.com" target="_blank">Hacker News</a>), or collaboration space.
  
=partial('partials/examples')

=partial('partials/features')

/ %section.blog
/   %h3 The Telescope Blog
/   %p Keep up with the latest Telescope news on <a href="/blog">our blog</a>.   
/ %section.discuss
/   %h3 Questions, Ideas, Feedback…
/   %p Discuss Telescope and file bugs over on <a href="https://github.com/SachaG/Telescope/issues?state=open">GitHub</a>.       

=partial('partials/team')

=partial('partials/book')
