---
title: 'Telescope: Build your own Hacker News, Reddit, or Product Hunt.'
page: home
---

- content_for(:title, current_page.data.title)
- content_for(:page, current_page.data.page)

=partial('partials/intro')

/ =partial('partials/diagram')

=partial('partials/reactmeteor')

/=partial('partials/use_cases')

/=partial('partials/features')

/ %section.intro
/   %h3 What Is Telescope?        
/   %p 
/     Telescope is an open-source app that lets you easily set up your own online community. 
/     It's built with <a href="http://meteor.com" target="_blank">Meteor</a>, a real-time Javascript framework, and you can use it to create your own discussion board, social news site (like <a href="http://news.ycombinator.com" target="_blank">Hacker News</a> or <a href="http://reddit.com">Reddit</a>), or collaboration space.

=partial('partials/brickbybrick')

/ =partial('partials/support')
=partial('partials/examples')

/ =partial('partials/features')

/ %section.blog
/   %h3 The Telescope Blog
/   %p Keep up with the latest Telescope news on <a href="/blog">our blog</a>.   
/ %section.discuss
/   %h3 Questions, Ideas, Feedback…
/   %p Discuss Telescope and file bugs over on <a href="https://github.com/SachaG/Telescope/issues?state=open">GitHub</a>.       
/ =partial('partials/book')
