- content_for(:title, "Telescope Showcase")

%section.madewith
  %h3 Showcase
  .sites
    - data.madewith.each do |site|
      .site
        .screenshot
          %a{:href => site.url}
            %img{ :src=> '/images/madewith/'+site.screenshot}
        .description
          %h4.title
            %a{:href => site.url}=site.title
          %p=site.description