- content_for(:title, "Telescope Showcase")

%section.showcase
  .container.showcase-container
    .page-title
      %h3.main-title Showcase
      %h4.sub-title A selection of sites using Telescope
    .sites
      - data.showcase.reverse_each do |site|
        = partial('partials/site', locals: {site: site})