- content_for(:title, "Telescope Showcase")

%section.showcase
  %h3 Showcase
  .sites
    - data.showcase.reverse_each do |site|
      .site
        .screenshot
          %a{:href => site.url}
            %img{ :src=> '/images/showcase/'+site.screenshot}
        .description
          %h4.title
            %a{:href => site.url}=site.title
          %p=site.description