- content_for(:title, "Telescope Showcase")

%section.showcase
  %h3 Showcase
  .sites
    - data.showcase.reverse_each do |site|
      .site
        .screenshot
          %a{:href => site.url}
            %img{ :src=> '/images/showcase/'+site.screenshot}
        .description
          %h4.title
            %a{:href => site.url}=site.title
          %p=site.description

%section.apply
  %h3 Do You Use Telescope?
  %p <a href="http://sachagreif.com/contact">Get in touch</a> and we'll add you to the showcase.