%section.about
  .container.page-content
    .container-medium
      .page-title
        %h1.main-title
          Team
        %h2.sub-title The Telescope Core Team

      .about-content.text-content
    
        :markdown

          Telescope is an open-source, collaborative effort, and you can see the full list of contributors [on GitHub](https://github.com/TelescopeJS/Telescope/graphs/contributors).

      .contributors
        .contributor
          %img.contributor-avatar{src: "/images/team/sacha.jpg"}
          %h3.contributor-name
            %a{href: "http://twitter.com/SachaGreif"} Sacha Greif
          %p.contributor-bio Designer, developer, and writer. Creator of Telescope.
        .contributor
          %img.contributor-avatar{src: "/images/team/xavier.jpg"}
          %h3.contributor-name
            %a{href: "http://twitter.com/xav_cz"} Xavier Cazalot
          %p.contributor-bio Javascript Engineer. I love hacking stuff related to React, GraphQL & Meteor.

