%section.features-section
  .container.page-content
    .page-title
      %h1.main-title
        Themes
      %h2.sub-title Ready-made themes for your app

    .sites.themes
      - data.themes.each do |site|
        = partial('partials/site', :locals => {:site => site, :type => "themes"})