%section.features-section
  .container.page-content
    .page-title
      %h1.main-title
        Themes
      %h2.sub-title Ready-made themes for your app

    .themes
      - data.themes.each do |site|
        .theme.site
          .site-screenshot
            %a{:href => site.url}
              %img{ :src=> '/images/themes/'+site.screenshot}
          .site-content
            %h3.site-title
              %a{:href => site.url}=site.title
            .site-description
              :markdown
                #{site.description}
            .site-actions
              %a.button-simple{href: site.url} Get Theme
              / %a.button-simple{href: site.repo} View on GitHub